<h1>編集</h1>


<%= form_with model:@post,local:true do |f| %>
  <div class="form-group">
    <%= f.label :投稿内容 %>
    <%= f.text_area :content,class: 'form-control'%>
    <%= f.label :video %>
    <%= f.file_field :video %>
  </div>
  <%= f.submit "投稿",class:"btn btn-primary"%>
<% end %>
