<div class="container">
  <h1>新規登録</h1>

    <% @post.errors.full_messages.each do |message| %>
      <div class="alert alert-success">
        <%= message %>
      </div>
    <% end %>

<!-- 10回繰り返して表示してみる -->

  <%= form_with model:@post,local:true do |f| %>
      <%= f.label :投稿内容 %>
      <%= f.text_area :content%>
      <%= f.submit "投稿"%>
  <% end %>
</div>

<% 
=begin
%>
      <%= f.label :画像 %>
      <%= f.file_field :image %>        
      <%= f.label :動画 %>
      <%= f.file_field :video %>
    </div>

<%
=end
%>
