<h1>新規登録</h1>
<% @post.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_with model:@post,local:true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :content,class: 'form-control'%>
    <%= f.label :video %>
    <%= f.file_field :video %>
  </div>
  <%= f.submit "投稿",class:"btn btn-primary"%>
<% end %>
