<div class="container text-center">
      <h1>新規登録</h1>
  <% if @user.errors.present? %>
    <div class="alert alert-success">
      <%= @user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <%= form_with model:[:admin,@user], local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "名前"  %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス"%>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-box">
      <%= f.label :admin, class: "form-check-label" do%>
        <%= f.check_box :admin, class: 'form-check-input' %>
      <% end %>
      <td>管理者権限</td>
    </div>
    <div class="form-group">
      <%= f.label :password,"パスワード(6文字以上で入力してください)" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation,"パスワード(再入力)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= f.label :image,"アイコン画像(任意)" %>
      <%= f.file_field :image %>  
    </div>
    <div class="form-group">
      <%= f.label :details, "自己紹介(任意)"%>
      <%= f.text_area :details, rows:6, class: 'form-control' %>
    </div>    
   
    <%= f.submit '登録する', class: 'btn btn-primary' %>
  <% end %>
</div>
